
	<div class="row">
		<div class="col-md-2">
			<%= image_tag 'download.png' %>
			<hr>
			<div class="timezone">
				<blockquote><%= Time.zone.name %> Time Zone</blockquote>
			</div>
			<div class="social">
				
			</div>
		</div>
		<div class="col-md-4 col-sm-offset-1">
			<h1>Scheduled Posts</h1>
			<hr>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Panel title
					</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
				<div class="panel-footer">
					Panel footer
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-offset-1">
			<h1>Posts History</h1>
			<hr>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Panel title
					</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
				<div class="panel-footer">
					Panel footer
				</div>
			</div>
		</div>
	</div>
